name: Testing GSSAR
"on":
  push:
    branches:
      - main
      - ft/**
      - bug/**
      - hotfix/**
      - release/**
  pull_request:
    branches:
      - main
      - ft/**
      - bug/**
      - hotfix/**
      - release/**
jobs:
  LintCloudFormation:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Cloud Formation Linter with Latest Version
        uses: scottbrenner/cfn-lint-action@v2
      - name: Print the Cloud Formation Linter Version & run Linter.
        run: |
          cfn-lint -t ./template.yml
